/*
* @Author: Administrator
* @Date:   2017-12-11 17:06:22
* @Last Modified by:   Administrator
* @Last Modified time: 2017-12-26 15:34:17
*/
*{
    padding: 0;border: 0;margin: 0;
}
html,body{
    width:100%;
    display:-webkit-flex;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.header{
    overflow:hidden;
    position: relative;
    font-size:0.36rem;
    text-align: center;
    width:100%;
    margin-top: 0.19rem;

}
.header p{
    vertical-align: middle;
}
.header img{
    position:absolute;
    width:0.5rem;
    height；0.5rem;
    top:0;
    left:0.24rem;

}
.center{
    width:90%;
    margin-top: 0.5rem;
}
.center p:first-child{
    font-size:0.52rem;
    color:#222222;
}
.center p:last-child{
    font-size:0.28rem;
    color:#222222;
    margin-top: 0.24rem;
}
.content{
    width:90%;
    font-size:0.28rem;
    display:-webkit-flex;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    flex-wrap:wrap;
    margin-top: 0.34rem;
    overflow: hidden;

}
.content p{
    height:0.7rem;
    padding:0 0.3rem 0 0.3rem;
    border-radius:0.3rem;
    background:#ccc;
    margin-top: 0.24rem;
    margin-left: 0.2rem;
    line-height: 0.7rem;
}
.change{
    width:90%;
    font-size:0.3rem;
}
.next{
    margin-top: 0.86rem;
    font-size:0.6rem;
    color:#ffa800


}
/* 点击颜色 */
/* 点击颜色 */
.addcolor{
    background:#444444 !important;
    color:white;
}
