<!DOCTYPE html>
<html lang="en" id="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width:device-width,initial-scale=1, maximum-scale=1,minimum-scale=0.5">
    <title>添加银行卡</title>
    <link rel="stylesheet" href="css/addcard.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <script src="js/vue.js"></script>
    <script src="js/vue-resource.js"></script>
</head>
<body>
<!-- <div class="header">
    <p>添加银行卡</p>
    <img src="images/back@2x.png" alt="" ontouchend="back()">
</div> -->
<div class="content" id="app">
    <div class="b1">
        <div class="b1_left">
            <p>持卡人</p>
        </div>
        <input type="text" placeholder="持卡人姓名" v-model="name">
    </div>
    <div class="b1">
        <div class="b1_left">
            <p>卡号</p>
        </div>
        <input type="number" placeholder="请输入银行卡卡号" v-model="cardid">
    </div>
    <div class="b1">
        <div class="b1_left">
            <p>银行卡归属</p>
        </div>
        <input type="text" placeholder="如工商银行" v-model="cardtype">
    </div>
    <div class="b1">
        <div class="b1_left">
            <p>预留手机号</p>
        </div>
        <input type="text" placeholder="请输入银行卡预留手机号" v-model="phone">
    </div>
    <transition name="custom-classes-transition" enter-active-class="animated rollIn" leave-active-class="animated bounceOutRight">
        <div class="ifshow" v-if="ifshow2">
            <p>手机号码有误，请重填</p>
        </div>
    </transition>
    <transition name="custom-classes-transition" enter-active-class="animated rollIn" leave-active-class="animated bounceOutRight">
        <div class="ifshow" v-if="ifshow">
            <p>请填写所有内容</p>
        </div>
    </transition>
    <transition name="custom-classes-transition" enter-active-class="animated wobble" leave-active-class="animated bounceOutRight">
        <div class="motai2" v-if="ifmotai2" >
            <p class="motai2_p1">服务器异常，请重新登录</p>
            <p class="motai2_p2" v-on:touchend = "fnmotai">确定</p>
        </div>
    </transition>
    <transition name="custom-classes-transition" enter-active-class="animated wobble" leave-active-class="animated bounceOutRight">
        <div class="motai2" v-if="ifmotai3" >
            <p class="motai2_p1">登录态异常，请重新登录</p>
            <p class="motai2_p2" v-on:touchend = "fnmotai">确定</p>
        </div>
    </transition>
    <p class="next" v-on:touchend="next">下一步</p>
</div>
<div class="motai" id="app2" v-if="ifshow">
    <div class="motai_content">
        <p class="p1">提示</p>
        <p class="p2">请添加您要提现的银行卡</p>
        <div class="close">
            <p v-on:touchend="close">我知道了</p>
        </div>
    </div>
</div>
<script>
//获取设备屏幕宽度,设置根目录宽度和字体大小
    function screenwidth(){
        var html = document.getElementById('html');
        /*html.style.fontSize = window.screen.width+'px';*/
        var w=document.documentElement?document.documentElement.clientWidth :document.body.clientWidth ;
        html.style.fontSize = w/7.5 +'px';
    }
    screenwidth();
//判断电话
    function checkphone(data){
        if(!(/^1(3|4|5|7|8)\d{9}$/.test(data))){
            console.log('错误的电话号码');
            return false;
        }else{
            console.log('对的电话号码');
            return true;
        }
    }
//获取登录信息
    function token(){
        var arr = [];
        var r = window.location.search.substr(1);
        var first = r.split('=')[1];
        return first;
    }
    console.log('token');
    console.log(token());
    var tokenid = token();
    Vue.http.headers.common['authorization'] = tokenid;
//vue实例app1
var vm = new Vue({
    el:"#app",
    data:{
        name:'',
        cardid:'',
        cardtype:'',
        phone:'',
        ifshow:false,
        ifshow2:false,
        ifmotai2:false,
        ifmotai3:false,

    },
    methods:{
        fnmotai:function(){
            this.ifmotai2 = false;
            this.ifmotai3 = false;
        },
        next:function(){
            console.log(this.ifshow2);
            if(this.name!=""&&this.cardid!=""&&this.cardtype!=""&&this.phone!=""){
                this.ifshow = false;
                if(!checkphone(this.phone)){//电话错误
                    this.ifshow2 = true;
                }else{
                    this.ifshow2 = false;
                    //上传
                    vm.$http.post('http://dev.wetripay.com:8001/c1st/api/bankcard/save',{'cardholder':this.name,"cardno":this.cardid,"bank":this.cardtype,"prephone":this.phone},{emulateJSON: true})
                        .then(function(res){
                            console.log('上传成功');
                            console.log(res);
                            if(res.body&&res.body.success == true){
                                //判断用户移动端使用的系统平台
                                var u = navigator.userAgent;
                                if (u.indexOf('Android') > -1 || u.indexOf('Linux') > -1) {
                                    //安卓手机
                                    console.log('安卓手机');
                                    window.location.href = 'addcard=addcard';
                                } else if (u.indexOf('iPhone') > -1) {
                                    //苹果手机
                                    console.log('苹果手机');
                                    window.webkit.messageHandlers.openhome.postMessage({'addcard':'addcard'});
                                } else if (u.indexOf('Windows Phone') > -1) {
                                    //winphone手机
                                }
                            }else if(res.body&&res.body.success == false){
                                console.log('登录过期');
                                vm.ifmotai3 = true;

                            }
                        },function(error){
                            console.log('服务器异常，请重新登录');
                            vm.ifmotai2 = true;
                            if(vm.ifmotai2){
                                vm.ifmotai = false;
                            }
                    })
                }
            }else{
                this.ifshow = true;
                console.log(2);
            }
        },

        /*//形变效果
        animatechange:function(){
            var p = document.getElementsByName('next');
            var p = p[0];
        }*/
    }
});
//vue实例app2
var vm2 = new Vue({
    el:'#app2',
    data:{
        ifshow:true,
    },
    methods:{
        close:function(){
            vm2.ifshow = false;
        },
    }
});


</script>
</body>
</html>
