<!DOCTYPE html>
<html lang="en" id="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width:device-width,initial-scale=1, maximum-scale=1,minimum-scale=0.5">
    <link rel="stylesheet" href="css/person2.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <title>开店</title>
    <script src="js/vue.js"></script>
    <script src="js/vue-resource.js"></script>
</head>
<body>
<!-- <div class="header">
    <p>开店</p>
    <img src="images/back@2x.png" alt="" ontouchend="back()">
</div> -->
<div class="top">
    <p>身份证信息</p>
    <div class="lastp">
        <p>请输入您的姓名和身份证号码</p>
    </div>
</div>
<div class="content" id="app">
    <input type="text" placeholder="输入您的姓名" class="firstinput" v-model="name">
    <input type="text" placeholder="输入身份证号码" class="secondinput" v-model="personcard">
    <transition name="custom-classes-transition" enter-active-class="animated wobble" leave-active-class="animated bounceOutRight">
        <div class="ifhid" v-if="ifhid">
            <p >请填写所有的信息</p>
        </div>
    </transition>
    <p class="next" v-on:touchend ="next">下一步</p>
</div>

<script>
    //获取设备屏幕宽度,设置根目录宽度和字体大小
    function screenwidth(){
        var html = document.getElementById('html');
        /*html.style.fontSize = window.screen.width+'px';*/
        var w=document.documentElement?document.documentElement.clientWidth :document.body.clientWidth ;
        html.style.fontSize = w/7.5 +'px';
    }
    screenwidth();
    //获取登录信息
    function token(){
        var arr = [];
        var r = window.location.search.substr(1);
        var first = r.split('=')[1];
        return first;
    }
    console.log('token');
    console.log(token());
    var tokenid = token();
    Vue.http.headers.common['authorization'] = tokenid;
    //vue实例app
    var vm = new Vue({
        el:'#app',
        data:{
            ifhid:false,
            name:'',
            personcard:''
        },
        methods:{
            next:function(){
                if(vm.name!=''&&vm.personcard!=''){
                    vm.ifhid = false;
                    //上传
                    vm.$http.post('http://dev.wetripay.com:8000/eShop/api/seller?updateSeller',{"idCardNumber": this.personcard,"name": this.name},{emulateJSON: true})
                        .then(function(respond){
                            console.log('上传成功');
                            console.log(respond);
                            if(res.body&&res.body.code&&res.body.code == '200'){
                                window.location.href = 'http://dev.wetripay.com:8000/eShop/api/page/person3.html?'+"token="+tokenid;
                            }
                        })
                }else{
                    vm.ifhid = true;
                }

            }

        }
    });
    //返回上一级
    function back(){
        console.log('后退');
        window.history.back(-1);
    }
</script>
</body>
</html>
